# Fundamentals 
<OL>
    <li><h5>Variables</h5>
    <li><h5>Literals</h5>
    <li><h5>Interactive Input</h5>
    <li><h5>Branching Control Flow</h5>
    <li><h5>Looping Control Flow</h5>
</OL>

#### Variables and Assignment

In [ ]:
#variable_name=value, e.g.
num=10 #LHS-variable name; RHS-expression e.g. literal
num

In [ ]:
x, y=10,12 #binds 10 to x, 12 to y

In [ ]:
x

In [ ]:
y

In [ ]:
num=10
num

In [ ]:
num=100
num

# Interactive Input (including data conversion)

In [ ]:
#variable_name=input(prompt), e.g.
age=input("enter your age: ");
age

In [ ]:
age=eval(input("enter your age: "));
age

In [ ]:
age=int(input("enter your age: "));
age

In [ ]:
weight=float(input("enter your weight in kgs: "));
weight

In [ ]:
result=eval(input("enter a mathematical expression: "));
result

#### Testing comparison and logical operators

In [ ]:
not 7>3 or 4 == 4

In [ ]:
7>3 and 2<6

In [ ]:
not(7>3 and 2<6)

#### Interactive Input and Branching Flow

In [ ]:
age=int(input("Enter your age:"))
if age>=40:
    print(age, ", you are too old")
elif age>=20:
    print(age, ", you are a young adult")
else:
    print(age, ", you are too young")

#### Looping Control

In [ ]:
count=1
sum=0
while count<=3:
    sum=sum+count
    count=count+1
print("Sum: ", sum)

In [ ]:
import math
count=1
while count<=10:
    print(count, "cube:", math.pow(count, 3))
    count=count+1

In [ ]:
surnames = ["Kimani", "Ike", "Ishimiwe"] #list of surnames
for surname in surnames:
  print(surname)

# Fundamentals 
<ol>
    <li><h5>Functions</h5>
    <li><h5>Sequences</h5>
    <ul>
    <li>Strings
    <li>Tuples
    <li>Lists
    </ul>
    </li>
    <li><h5>Collections</h5>
    <ul>
    <li>Dictionaries
    <li>Sets      
    </ul>
    </li>
</ol>

#### Functions

In [ ]:
import math

def compute_area(radius):
    """
    Computes and returns the area given the radius

    Parameters: radius : float.
    Returns: float.

    """
    return math.pi*math.pow(radius,2)

In [ ]:
def compute_circumference(radius):
    """
    Computes and returns the circumference
    Parameters: radius : float.
    Returns: float.
    """
    return 2*math.pi*radius

In [ ]:
def main():
    """
    Requests for the radius and calls functions to compute area and perimeter.
    """
    radius=float(input('Enter radius of circle: '))
    #compute and print area and circumference
    print("Radius:", radius,", Area:",compute_area(radius), \
          ", Circumference:",compute_circumference(radius))

In [ ]:
main()

###### Retrieve documentation--use "\__doc\__" attribute,  help function, or ?

In [ ]:
print(compute_area.__doc__)

In [ ]:
print(compute_circumference.__doc__)

In [ ]:
print(main.__doc__)

In [ ]:
help(compute_area)

In [ ]:
help(compute_circumference)

In [ ]:
help(main)

In [ ]:
help(math.pow)

In [ ]:
compute_circumference?

In [ ]:
main?

In [ ]:
help(min)

In [ ]:
def fn_demo(x,y,z=10): 
    """
    fn_demo uses both keyword and default arguments
    """
    print(x//y+z)

In [ ]:
fn_demo(10,4) #10//4+10==2+10---uses positional arguments and default arguments

In [ ]:
fn_demo(y=12,x=7) #7//12+10---0+10---uses keyword arguments and default arguments

In [ ]:
fn_demo(y=3,x=7, z=2) #7//3+2---2+2---uses keyword arguments

###### Using Variable Arguments

In [ ]:
def fn_varargs(*args):#args is tuple type
    for arg in args:
        print(arg, end=' ')

In [ ]:
fn_varargs(12,14,"Hello",12.4, False, True)

###### Arbitrary Number of Arguments

In [ ]:
def fn_varkwargs(**kwargs):#kwargs is dictionary type
    print(type(kwargs)) #check the type of kwargs
    print(kwargs) #print out kwargs
    print("Country: ",kwargs["country"])
    print("Age:", kwargs["age"])
    print("Height:",kwargs["height"])

In [ ]:
fn_varkwargs(country="Rwanda", age="65", height="5.6")

###### Sequence: Strings

In [ ]:
"Hello "*3

In [ ]:
text="100"
id(text)

In [ ]:
text+=" 123"
id(text)

In [ ]:
"My Lesson Managers: Francis, Yves, Delphine, Agnes "*2

In [ ]:
text="hello"

In [ ]:
text[0]

In [ ]:
text[-1]

In [ ]:
text[-2]

In [ ]:
text="Slice the text!"
text[0:5] #returns ‘Slice’ , same as >>>text[:5]

In [ ]:
text[-4:]

In [ ]:
text[6:9] #returns ‘the’

In [ ]:
text[10:14] #returns ‘text’

In [ ]:
text[14:15] #returns ‘!’

In [ ]:
text[6:] #returns ‘the text!’

###### Format a string

In [ ]:
age=int(input("Enter age: "))
print("Age is {}".format(age))#print(f"Age is{age}")

# Example
Write a simple python program that reads a name and passes it to a user-defined function that prints “Hello, supplied-name”. The user-defined function should use string formatting.

In [ ]:
def greet(name):
    print(f"Hello, {name}")#print("Hello,{}".format(name))

In [ ]:
name=input("Enter name: ")
greet(name)

###### Sequence: Lists

In [ ]:
x=['hello', 3,True,3.5,[1,2]]
for item in x:
    print(item)

In [ ]:
print(len(x))

In [ ]:
print(x)

In [ ]:
del x[:2] #shows mutability- deletes a sub-list obtained by slicing

In [ ]:
print(x)

In [ ]:
print(len(x))

In [ ]:
y=[10,[13,1.3]]
y=y+['hello',True]
print(y)

In [ ]:
z=[2,10,3]
sorted(z) #returns [2,3,10]

In [ ]:
z #returns [2,10,3]---because sorted did not modify the list order.

In [ ]:
z.sort() #makes enduring changes

In [ ]:
z #returns [2,3,10]

In [ ]:
w=[10,[13,1.3]]
w.append(['hello',True])# the appended list becomes a single value in the original list
print(w)

In [ ]:
w.pop()

In [ ]:
w.pop()

In [ ]:
if w: #empty list is equivalent to False
    print(w.pop()) #pop should be used for a list that is not empty

In [ ]:
w=[10,[13,1.3]]
w.append(['hello',True])# the appended list becomes a single value in the original list
print(w)
while w:#---an empty list [] is False. Same as while bool(w): or while len(w)!=0:
    print(w.pop())

In [ ]:
items=list([10,12,34])#uses list class
for item in items:
    print(item)

###### Sequence: Tuples

In [ ]:
a,b,c=10,12,13 #RHS is a tuple---we are doing multiple assignment. RHS values bind to variable on LHS
print(f"a: {a}, b: {b}, c: {c}")

In [ ]:
a,b,*c=10,12,13,16,27,28 #yields a=10, b=12, c=[13,16,27,28]
print(f"a: {a}, b: {b}, c: {c}")

In [ ]:
*a,b,c=10,12,13,16,27,28 #yields a=[10,12,13,16], b=27, c=28
print(f"a: {a}, b: {b}, c: {c}")

In [ ]:
a,*b,c=10,12,13,16,27,28 #yields a=10,b=[12,13,16,27], c=28
print(f"a: {a}, b: {b}, c: {c}")

In [ ]:
items=tuple((10,12,34)) #uses tuple class
for item in items:
    print(item)

###### Dictionaries

In [ ]:
def dictionary_demo():
    student={"Regno":"g1010","Name":"Hazimana","DoB":"01-01-1990", "Grade":[67,90,95]}
    print("Original Dictionary: ",student) #echo dictionary on screen
    student['Regno']="g1012" #shows mutability
    print("Modified Dictionary---check regno: ",student,"\n") #echo dictionary after modification
    print(f"RegNo: {student['DoB']}") #accesses and displays DoB, uses DoB as key
    print(f"Name: {student['Name']}")
    print(f"DoB: {student['DoB']}") 
    print(f"Grade: {student['Grade']}")

In [ ]:
dictionary_demo()

In [ ]:
def dictionary_demo2():
    student={"Regno":"g1010","Name":"Hazimana","DoB":"01-01-1990", "Grade":[67,90,95]}
    print("Dictionary: ",student) #echo dictionary on screen

    #Access keys and iterate through the values.
    print("\nPrinting keys and values....")
    keys=student.keys() #retrieve all keys using keys function
    for key in keys: #step through the keys and access the values
        print("{} : {}".format(key,student[key]))

In [ ]:
dictionary_demo2()

In [ ]:
def dictionary_demo3():
    student={"Regno":"g1010","Name":"Hazimana","DoB":"01-01-1990", "Grade":[67,90,95]}
    print("Dictionary: ",student,"\n") #echo dictionary on screen

    #Access values and iterate through them
    values=student.values() #retrieve all values using values function
    for value in values: #step through the values
        print("{}".format(value))

In [ ]:
dictionary_demo3()

In [ ]:
def dictionary_demo4():
    student={"Regno":"g1010","Name":"Hazimana","DoB":"01-01-1990", "Grade":[67,90,95]}
    print("Dictionary: ",student,"\n") #echo dictionary on screen

    #Access items and iterate through them
    items=student.items() #retrieve all items using items function
    for item in items: #step through the items
        print("{}".format(item)) #each item is a tuple of the format (key,value)...meaning it can be indexed

In [ ]:
dictionary_demo4()

In [ ]:
def dictionary_demo5():
    student={"Regno":"g1010","Name":"Hazimana","DoB":"01-01-1990", "Grade":[67,90,95]}
    print("Dictionary: ",student,"\n") #echo dictionary on screen

    #Access items and iterate through them
    items=student.items() #retrieve all items using items function
    print(items,"\n")
    for item in items: #step through the items
        print("{}: {}".format(item[0],item[1])) #each item is a tuple of the format (key,value)
                                                #...see how we have indexed for key and value

In [ ]:
dictionary_demo5()

In [ ]:
def fn_varkwargs(**kwargs):#kwargs is dictionary type
    print(type(kwargs))
    keys=kwargs.keys() 
    for key in keys:
        print(f"{key}: {kwargs[key]}")

In [ ]:
fn_varkwargs(country="Rwanda", age="65", height="5.6")

###### Documentation for Select Sequence and Collection Data Structures

In [ ]:
help(list)

In [ ]:
help(tuple)

In [ ]:
help(dict)

In [1]:
a=[10,12,13]

In [2]:
b=a

In [3]:
print("a=",a,",b=",b)

a= [10, 12, 13] ,b= [10, 12, 13]

In [4]:
a[1]*=2

In [5]:
print("a=",a,",b=",b)

a= [10, 24, 13] ,b= [10, 24, 13]

In [6]:
id(a), id(b) #Notice same memory addresses---mutable data

(2026119050816, 2026119050816)

In [7]:
c=10

In [8]:
d=c

In [9]:
print("c=",c,",d=",d)

c= 10 ,d= 10

In [ ]:
id(c), id(d)

In [10]:
c+=3

In [11]:
print("c=",c,",d=",d)

c= 13 ,d= 10

In [12]:
id(c), id(d) #notice different memory addresses---immutable data

(140710518297768, 140710518297672)

## Further Examples

Display and Variables: Print a greeting of the form “Hello, Michael!”. “Michael” should be retrieved from a variable.

In [1]:
name='Michael'
print('Hello, ', name)

Hello,  Michael

Display and Variables: Write a python program that displays the following verse from the poem, The Scientific Method:
The scientific method is the way to go
When you absolutely definitely need to know
How things happen in our work everyday
Scientists helps show all of us the way.
a)Use only the print statement(s)
b)Use variable(s) to store the verse then print the result.

In [2]:
verse="""The scientific method is the way to go
When you absolutely definitely need to know
How things happen in our work everyday
Scientists helps show all of us the way.
"""
print(verse)

The scientific method is the way to go
When you absolutely definitely need to know
How things happen in our work everyday
Scientists helps show all of us the way.

In [3]:
print("""The scientific method is the way to go
When you absolutely definitely need to know
How things happen in our work everyday
Scientists helps show all of us the way.
""")

The scientific method is the way to go
When you absolutely definitely need to know
How things happen in our work everyday
Scientists helps show all of us the way.

Type-based Arithmetic: What is the output of the following mathematical expressions?
•10+2*6/4
•10+2*6//4
•type(10+2*6/4)
•type(10+2*6//4)
Why?

Debugging: What happens when you execute the following script?
x=input ("Enter age:")
x**2

In [4]:
x=input("Enter age:")
x**2

Enter age:56

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

Interactive input: Read name, age at next birthday, course, nationality, and display in the format:

In [ ]:
#******************
#Name: Greg Hazimana
#Age Next Birthday: 29
#Course: MSEAI
#Nationality: Rwanda
#******************

Arithmetic, Conditionals, Two-Way Branching: Write a program to ask for an integer input and determine if the number is even or odd. An even number is divisible by 2. The program should display an appropriate message.

In [ ]:
#Even and odd number- use of if....else---Ex.7
num=int(input("Enter an integer:"))
if num%2==0:
    print("Even number.")
else:
    print("Odd number.")

Input validation and Multi-way Branching: Write a program that reads a mark in the range 0-100 (inclusive). Any values outside the range must be rejected with an appropriate message and the program exits after displaying the message. For a valid input, print out the grade as per the following grading system.
92-100(inclusive): “A”
82-91(inclusive): “B”
70-81(inclusive): “C”
0-69(inclusive): “Fail”

In [ ]:
#Grading system: input validation, multi-way selection, boolean operators, logical operators.
#Nested branching
mark=int(input("Enter a mark in the range 0-100(inclusive):"))
if mark<0 or mark>100:
    print("Mark of ", mark," is out of range! Program exits!")
else:
    if mark>=92: # also mark>=92 and mark<=100----but this is redundant
        grade="A"
    elif mark>=82:
        grade="B"
    elif mark>=70:
        grade="C"
    else:
        grade="Fail"
    print("Mark:",mark,", Grade:",grade)

Nested Loops, Input Validation, Multi-way Selection: Modify the program above so that it asks the user for the number of students then reads the mark and displays the grade for each student.  Modify the mark validation code such that the user will be requested to enter the right mark again and again until the input is valid.

In [ ]:
#Loops over several students. Nested loops.
no_of_students=int(input("How many student marks do you wish to enter:"))
count=1 #keeps track of each student. loop control variable (lcv): count
while count<=no_of_students:#loop condition
    print("Student#",count)
    mark=int(input("Enter a mark in the range 0-100(inclusive):"))
    while mark<0 or mark>100:
        mark=int(input("Enter a VALID mark in the range 0-100(inclusive):"))
    if mark>=92: # also mark>=92 and mark<=100----but this is redundant
        grade="A"
    elif mark>=82:
        grade="B"
    elif mark>=70:
        grade="C"
    else:
        grade="Fail"
    #Display message
    print("Student#",count,": Mark:", mark,", Grade:",grade)
    #Update the lcv so that the loop does not run infinitely
    count=count+1

In [16]:
# My version
no_of_students = int(input("Enter the number of students : "))
counter = 1
while counter <= no_of_students:
    grade = int(input(f"Enter marks of student {counter} : "))
    while grade < 0 or grade > 100:
        grade = int(input("Enter a valid grade between 0 and 100"))
    if grade > 50:
        print("Pass")
    else:
        print("Fail")
    counter +=1

Enter the number of students : 2
Enter marks of student 1 : 30
Fail
Enter marks of student 2 : 70
Pass

Arithmetic: Write a program that calculates exponentials of the form xy. Your program asks the user for a base x and an exponent y, and calculates xy. 
a)	Use ** operator
b)	Use pow function

In [ ]:
#Using ** operator
x=eval(input("Enter the base:"))
y=eval(input("Enter the exponent:"))
result=x**y
print(x,"^",y," = ",result)

In [ ]:
#Using pow function
import math
x=eval(input("Enter the base:"))
y=eval(input("Enter the exponent:"))
result=math.pow(x,y)
print(x,"^",y," = ",result)

Looping, logical operators, arithmetic: Write a program which will find all such numbers which are divisible by 13 but are not a multiple of 3, between 771 and 1542 (both included).
a)Use a while loop
b)Use a for loop

In [17]:
#divisibles and multiples
num=771
while num<=1542:
    if num%13==0 and num%3!=0:
        print(num)
    num=num+1 #increment lcv

793
806
832
845
871
884
910
923
949
962
988
1001
1027
1040
1066
1079
1105
1118
1144
1157
1183
1196
1222
1235
1261
1274
1300
1313
1339
1352
1378
1391
1417
1430
1456
1469
1495
1508
1534

In [18]:
#divisibles and multiples-using for loop
for num in range(771,1543): #why 1543?
    if num%13==0 and num%3!=0:
        print(num)

793
806
832
845
871
884
910
923
949
962
988
1001
1027
1040
1066
1079
1105
1118
1144
1157
1183
1196
1222
1235
1261
1274
1300
1313
1339
1352
1378
1391
1417
1430
1456
1469
1495
1508
1534

Looping, logical operators, arithmetic: Modify the code above such that no even numbers are printed. Hint: Use continue statement.

In [ ]:
#divisibles and multiples-using for loop, checks even
for num in range(771,1543): #why 1543?
    if num%13==0 and num%3!=0:
        if num%2==0:
            continue
        print(num)

Looping, logical operators, arithmetic: Modify the code on divisibility such that as soon as a value divisible by 7 is encountered, the value is printed with the message “<value> divisible by 7, loop terminates!”. Hint: Use break statement.

In [ ]:
#divisibles and multiples-using for loop, checks divisible by 7
for num in range(771,1543): #why 1543?
    if num%13==0 and num%3!=0:
        if num%7==0:
            print(num," divisible by 7, loop terminates!.")
            break
        print(num)

### Program to compute absolute value, cube, cuberoot, square, and square root of a number

Built-in functions: Write a program that reads a number and computes and displays absolute value of the number. The program should then use the absolute value to compute and display the cube, cube root, square, and square root of the number. Hint: Use the math module.

In [21]:
import math

#prompt and read the number
num=float(input("Enter a number: ")) #why not use int()?

#compute absolute value
abs_num=abs(num)
cube=math.pow(abs_num,3)
cuberoot=math.pow(abs_num,1/3)#notice--floating point division
square=math.pow(abs_num,2)
squareroot=math.sqrt(abs_num)

Enter a number: -7

In [22]:
print("num:{}\nAbsolute Value:{}\nSquare:{}\nSquare root:{}\nCube:{}\
\nCuberoot:{}".format(num,abs_num,square,squareroot,cube,cuberoot))

num:-7.0
Absolute Value:7.0
Square:49.0
Square root:2.6457513110645907
Cube:343.0
Cuberoot:1.912931182772389

Formatted output: Rewrite the display statement above so that all output is displayed with only one decimal point.

In [27]:
#Format the output to 1 decimal places
print("num:{:5.1f}\nAbsolute Value:{:5.1f}\nSquare:{:10.1f}\
\nSquare root:{:5.1f}\nCube:{:10.1f}\
\nCuberoot:{:5.1f}".format(num,abs_num,square,squareroot,cube,cuberoot))

num: -7.0
Absolute Value:  7.0
Square:      49.0
Square root:  2.6
Cube:     343.0
Cuberoot:  1.9

#### Collecting data into a dictionary

Dictionary: Rewrite the code above such that the input value and the computed results are collected into a dictionary. Display the contents of the dictionary to 1 decimal point.

In [29]:
import math

#prompt and read the number
num=float(input("Enter a number: ")) #why not use int()?
#compute 
abs_num=abs(num)
#create dictionary
num_dict={
    'num':num,
    'abs_num':abs_num,
    'square':math.pow(abs_num,2),
    'square_root':math.sqrt(abs_num),
    'cube':math.pow(abs_num,3),
    'cuberoot':math.pow(abs_num,1/3)
}

Enter a number: 4

In [30]:
#Retrieve all keys
keys=num_dict.keys()
for key in keys:
    print("{}:{:.1f}".format(key,num_dict[key]))

num:4.0
abs_num:4.0
square:16.0
square_root:2.0
cube:64.0
cuberoot:1.6

#### Program to compute factorial of a number. Uses a user defined function

User Defined Functions:	Write a program which can computes and displays the factorial of a given number. The program should ask the user for the number, then display the output in the form: ‘Factorial of <num> is <factorial-value>‘.  Define a function factorial that computes and returns the factorial of a number. Perform input validation to display an error message if the number provided is negative.

In [31]:
def factorial(num):
    '''
    Function name: factorial
    Parameters: num, an int
    Returns: factorial value, an int
    '''
    if num == 0 or num==1:
        return 1 #base case
    return num * factorial(num - 1)#recursive case

In [32]:
#prompt and read a number
num=int(input("Enter a positive integer value:"))
if num>=0:
    #call the factorial function and display result
    print (f"\nFactorial of {num} is {factorial(num)}")
else:
    print("\nError: Number should
          be positive!")

Enter a positive integer value:7

Factorial of 7 is 5040

#### Sequences: lists and tuples

Lists and Tuples: Write a program which accepts a sequence of comma-separated numbers from the console, generates and displays a list and a tuple containing all the numbers.

In [35]:
input_string=input("Enter a text string: ")
num_list=input_string.split(' ')
num_tuple=tuple(num_list)
print(num_list)
print(num_tuple)

Enter a text string: Samalie rocks
['Samalie', 'rocks']
('Samalie', 'rocks')

#### But the code above has the input stored as strings. What of numbers?

In [36]:
#Read the comma-separated sequence
input_string=input("Enter a set of numbers separated by commas")

Enter a set of numbers separated by commas1,2,3

In [37]:
#Convert sequence into a list
num_list=input_string.split(',')
#Convert the list items to int
for i in range(0,len(num_list)):
    num_list[i]=eval(num_list[i])

In [38]:
#Now set up tuple
num_tuple=tuple(num_list)

In [39]:
#Print both tuple and list
print(num_list)
print(num_tuple)

[1, 2, 3]
(1, 2, 3)

# List comprehension
Provide an expression followed by a for...in clause and optionally an if clause: Syntax::[expression for item in list]

In [ ]:
#The previous approach, using the for loop, is considered the naive approach
num_list=[int(item) for item in input_string.split(',')]#convert each item to int

In [ ]:
#Set up tuple
num_tuple=tuple(num_list)

In [ ]:
#Print
print(num_list)
print(num_tuple)

##### Other list comprehension examples

In [54]:
odds=[n for n in [10,11,13,2,367,9] if n%2==1]
print(odds)

[1, 3, 5]

In [42]:
square_of_odds=[n*n for n in [10,11,13,2,367,9] if n%2==1]
print(square_of_odds)

[121, 169, 134689, 81]

#### String conversion

String conversion: Write a program that accepts a line of text as input and prints the text with all characters capitalized and in lower case. The program also prints a list containing all characters in the text.

In [44]:
text=input("Enter some text:")

Enter some text:Baby

In [45]:
#convert and print
print(text.lower())
print(text.upper())

baby
BABY

In [46]:
list_of_char_naive=[]
for c in text:#iterating through the string sequence
    list_of_char_naive.append(c) #using the append function to add individual items to list

In [47]:
print(list_of_char_naive)

['B', 'a', 'b', 'y']

In [48]:
list_of_char_comprehen=[c for c in text] #using list coprehension

In [49]:
print(list_of_char_comprehen)

['B', 'a', 'b', 'y']

#### Some complex operations

In [55]:
#complex number: a+bi
#a: real component
#b: imaginary part
a=4
b=12

#set up complex number
c=complex(a,b)
print(f"Complex number c: {c}")

print(f"Real part:{c.real}")
print(f"Imaginary part:{c.imag}")

d=complex(b,a)
print(f"Complex number d: {d}")

print(f"Real part:{d.real}")
print(f"Imaginary part:{d.imag}")

Complex number c: (4+12j)
Real part:4.0
Imaginary part:12.0
Complex number d: (12+4j)
Real part:12.0
Imaginary part:4.0

In [56]:
text="maliki uwase"
print(text[6:19])

 uwase

In [58]:
print(text[-1:3])

In [59]:
print(text[:19])

maliki uwase

In [60]:
print(text[19])

IndexError: string index out of range

In [61]:
z=[2,10,3]
sorted(z)

[2, 3, 10]

In [62]:
z

[2, 10, 3]

In [63]:
sorted(z,reverse=True)

[10, 3, 2]

In [64]:
z=sorted(z,reverse=True)

In [65]:
y=(10,2,3)
sorted(y)

[2, 3, 10]

In [66]:
y=tuple(sorted(y))

In [67]:
y

(2, 3, 10)

In [68]:
a=[10,2,3,78]
a.sort(reverse=True)
a

[78, 10, 3, 2]

In [74]:
a=input("Comma separated list:")
a=a.split(',')
print(a)

KeyboardInterrupt: Interrupted by user

In [70]:
for index in range(0, len(a)):#long route
    a[index]=int(a[index])
    
print(a)

[1, 2, 3]

In [75]:
b=input("Comma separated list:")
b=b.split(',')
print(b)
b=[int(n) for n in b] #list comprehension--compact
print(b)

Comma separated list:1,2,3
['1', '2', '3']
[1, 2, 3]

In [ ]:
x=5
y=3
z=x+y
a = ['x', 'y', 'z', 'x*y']
a

In [ ]:
a=[eval(n) for n in a]
a

In [ ]:
vars = ['print','max','type','float','eval'] #View documentation for objects
for var in vars:
    print("---------------------"*3)
    print(f'{var}')
    print("---------------------"*3)
    print(help(var.strip('\''))) # OR print(help(var.strip())) OR print(help(eval(var)))
   
    print("++++++++++++++++++++++"*3)
    print('\n'*2)

In [ ]:
print(print.__doc__)