In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [69]:
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')

In [70]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [71]:
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [72]:
# Map gender values to numeric values
titanic_train["Sex binary"] = titanic_train.Sex.map({"female":0, "male":1})
titanic_test["Sex binary"] = titanic_test.Sex.map({"female":0, "male":1})

In [73]:
# Set the initial X and Y values
titanic_train_X = titanic_train[["Sex binary", "Pclass", "Age"]].copy()
titanic_test_X = titanic_test[["Sex binary", "Pclass", "Age"]].copy()
titanic_train_Y = titanic_train[["Survived"]].copy()

In [74]:
# Check for NaNs in the train X data
titanic_train_X.isna().sum()

Sex binary      0
Pclass          0
Age           177
dtype: int64

In [75]:
# Check for NaNs in the test X data
titanic_test_X.isna().sum()

Sex binary     0
Pclass         0
Age           86
dtype: int64

In [76]:
# Handle NaNs in predictor variables
titanic_train_X["Age"] = titanic_train_X["Age"].fillna(titanic_train_X["Age"].mean())
titanic_test_X["Age"] = titanic_test_X["Age"].fillna(titanic_test_X["Age"].mean())

In [77]:
# Create the logistic regression model
logit_clf = LogisticRegression(random_state = 50)
logit_clf.fit(titanic_train_X, titanic_train_y.values.ravel())

LogisticRegression(random_state=50)

In [78]:
# Run a prediction on the data
titanic_y_pred = logit_clf.predict(titanic_test_X)

In [79]:
# Append the survived column a new the dataframe for submission
submission_df = pd.DataFrame()
submission_df["PassengerId"] = titanic_test[["PassengerId"]]
submission_df.head()
submission_df["Survived"] = titanic_y_pred
submission_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [80]:
submission_df.to_csv('submission.csv', index=False)