In [31]:
#pip install django

In [32]:
#pip install flask

In [10]:
#pip install streamlit

In [11]:
import pandas as pd
import numpy as np
#import ML algorithms
from sklearn.ensemble import RandomForestClassifier
#Import model selection and metrics utilities
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

### Import Wisconsin Breast Cancer Dataset {http://archive.ics.uci.edu/dataset/15/breast+cancer+wisconsin+original}

In [12]:
# pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\sama\anaconda3\lib\site-packages (0.0.3)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
breast_cancer_wisconsin_original = fetch_ucirepo(id=15) 
  
# data (as pandas dataframes) 
X = breast_cancer_wisconsin_original.data.features 
y = breast_cancer_wisconsin_original.data.targets

In [14]:
X.shape

(699, 9)

In [15]:
y.shape

(699, 1)

In [16]:
 y.sample(6) #Class Labels --- 2 = benign, 4 = malignant

     Class
49       4
420      2
103      4
256      2
317      4
673      2

In [17]:
X.head(15)

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1
5,8,10,10,8,7,10.0,9,7,1
6,1,1,1,1,2,10.0,3,1,1
7,2,1,2,1,2,1.0,3,1,1
8,2,1,1,1,2,1.0,1,1,5
9,4,2,1,1,2,1.0,2,1,1
10,1,1,1,1,1,1.0,3,1,1
11,2,1,1,1,2,1.0,2,1,1
12,5,3,3,3,2,3.0,4,4,1
13,1,1,1,1,2,3.0,3,1,1
14,8,7,5,10,7,9.0,5,5,4

In [18]:
X.tail(15)

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
684,1,1,1,1,2,1.0,1,1,1
685,1,1,1,1,2,1.0,1,1,1
686,1,1,1,1,2,1.0,1,1,1
687,3,1,1,1,2,1.0,2,3,1
688,4,1,1,1,2,1.0,1,1,1
689,1,1,1,1,2,1.0,1,1,8
690,1,1,1,3,2,1.0,1,1,1
691,5,10,10,5,4,5.0,4,4,1
692,3,1,1,1,2,1.0,1,1,1
693,3,1,1,1,2,1.0,2,1,2
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [19]:
#Count the number of missing values
X.isnull().sum()

Clump_thickness                 0
Uniformity_of_cell_size         0
Uniformity_of_cell_shape        0
Marginal_adhesion               0
Single_epithelial_cell_size     0
Bare_nuclei                    16
Bland_chromatin                 0
Normal_nucleoli                 0
Mitoses                         0
dtype: int64

In [20]:
#Replace missing value with mean

In [21]:
X.fillna(X['Bare_nuclei'].mean() ,inplace=True)

In [22]:
#Count the number of missing values
X.isnull().sum()

Clump_thickness                0
Uniformity_of_cell_size        0
Uniformity_of_cell_shape       0
Marginal_adhesion              0
Single_epithelial_cell_size    0
Bare_nuclei                    0
Bland_chromatin                0
Normal_nucleoli                0
Mitoses                        0
dtype: int64

In [23]:
#Split dataset on train and test
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3, random_state=42)

In [24]:
#Instantiate classifier
rf=RandomForestClassifier(n_estimators=150)

In [25]:
rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=150)

In [26]:
predictions=rf.predict(X_test)

In [27]:
accuracy_score(predictions,y_test)

0.9761904761904762

In [28]:
X.head()

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1

### Store and Retrieve the Model

In [33]:
import pickle

In [34]:
pickle.dump(rf, open('saved-models/rf_model.pkl','wb')) #This is the model we will load on the server

In [35]:
model = pickle.load(open('saved-models/rf_model.pkl','rb'))
print(model.predict([[5,5,9,7,6,1,2,8,3]]))

[4]

In [36]:
X.columns

Index(['Clump_thickness', 'Uniformity_of_cell_size',
       'Uniformity_of_cell_shape', 'Marginal_adhesion',
       'Single_epithelial_cell_size', 'Bare_nuclei', 'Bland_chromatin',
       'Normal_nucleoli', 'Mitoses'],
      dtype='object')

### Process The Form Data

In [37]:
from flask import Flask,render_template,request,flash

In [38]:
app=Flask(__name__) #creates the app to process the user input
#Configure the app
app.logger.setLevel('INFO')
app.secret_key = "amakuru"

#Define the functions that represent the actions that occur as the user interacts with the app.
@app.route('/')
def home():
    return render_template('index.html')

@app.route('/predict',methods=['GET','POST'])
def predict():
    if request.method =='POST':
        
        """Clump_thickness', 'Uniformity_of_cell_size',
       'Uniformity_of_cell_shape', 'Marginal_adhesion',
       'Single_epithelial_cell_size', 'Bare_nuclei', 'Bland_chromatin',
       'Normal_nucleoli', 'Mitoses'"""
        try:
            #Retrieve the form inputs
            Clump_thickness=float(request.form['Clump_thickness'])
            Uniformity_of_cell_size=float(request.form['Uniformity_of_cell_size'])
            Uniformity_of_cell_shape=float(request.form['Uniformity_of_cell_shape'])
            Marginal_adhesion=float(request.form['Marginal_adhesion'])
            Single_epithelial_cell_size=float(request.form['Single_epithelial_cell_size']) 
            Bare_nuclei=float(request.form['Bare_nuclei'])
            Bland_chromatin=float(request.form['Bland_chromatin'])
            Normal_nucleoli=float(request.form['Normal_nucleoli'])
            Mitoses=float(request.form['Mitoses'])

            #Consolidate the inputs
            input_args=[Clump_thickness, Uniformity_of_cell_size,\
                       Uniformity_of_cell_shape, Marginal_adhesion,\
                       Single_epithelial_cell_size, Bare_nuclei, \
                       Bland_chromatin, Normal_nucleoli, Mitoses]
            input_arr=np.array(input_args)
            inputs=input_arr.reshape(1,-1)# 1 row, numpy with suggest the number of columns
            #load the saved model
            model = pickle.load(open('saved-models/rf_model.pkl','rb'))
            result=model.predict(inputs)
            #Transform result to human readable
            if int(result)== 2:
                prediction ='Benign'
                color_signal='green'
            else:
                prediction ='Malignant'
                color_signal='red'
                
            #Populate flashed messages
            flash(prediction)
            flash(color_signal)

        except ValueError:
            return "Error: Values not valid."
    return render_template('predict.html',prediction=prediction, color_signal=color_signal)

In [ ]:
if __name__=='__main__':
    app.run(host='localhost', port=1887, debug=False)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:1887
Press CTRL+C to quit
127.0.0.1 - - [29/Nov/2023 19:50:29] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2023 19:50:29] "GET /favicon.ico HTTP/1.1" 404 -